<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--this href does not work for external css. Trevor has a way for it to work in templates -->
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <style>

    p.inline{
        display:inline;
    }

    p.error{
        font-family:sans-serif;
        color:red;
    }
    </style>
</head>
<body>
    <a href="/blog">Main Blog Page</a>
    <a href="/newpost">Add New Post</a>
    <a href="/logot">Logout</a>
    <!-- Add navigation links to blog.html, newpost.html and logout-->
    {% block register %}
    {% endblock %}

    {% block login %}
    {% endblock %}

    {% block newpost %}
    {% endblock%}

    {% block blog %}
    {% endblock %}
</body>
</html>