<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blogz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--this href does not work for external css. Trevor has a way for it to work in templates -->
    <!--<link rel="stylesheet" type="text/css" media="screen" href="main.css" />-->
    <!--<script src="main.js"></script>-->
    <style>

    p.inline{
        display:inline;
    }

    p.error{
        font-family:sans-serif;
        color:red;
    }
    </style>
</head>
<body>
    <span>
    <a href="/">Home</a>
    <a href="/blog">all posts</a>
    <a href="/newpost">new post</a>
    <a href="/login">login</a>
    {% with message = session%}
        {% if message['email'] %}
    <a href="/log_out">logout</a>
        {% endif %}
    </span>

        {% if message['email'] %}
                <p> Logged in as, {{message['email']}} </p>
        {% endif %}
    {% endwith %}
    {% block signup %}
    {% endblock %}

    {% block login %}
    {% endblock %}

    {% block newpost %}
    {% endblock%}

    {% block blog %}
    {% endblock %}

    {% block test %}
    {% endblock %}    
</body>
</html>