<!-- I can add error messages into the HTML and use flash messages as a logic gate to toggle the errors. Isthat worth?-->

{% extends 'base.html' %}
{% block login %}
<form action="/login" method="POST">
    <label>Username:</label>
    {% with html_username = get_flashed_messages(category_filter=['html_username']) %}
            <input type='text' name="html_user" value={{html_username[0]}}>
    {% endwith %}
    {% with invalid_entry = get_flashed_messages(category_filter=['no_user'])%}
    {% if invalid_entry %}
        <p class='inline error'>{{ invalid_entry[0] }}</p>
    {% endif %}
    {% endwith %}
    <br>
    <label>Password:</label>
    <input type="password" name="html_pw">
    {% with invalid_entry = get_flashed_messages(category_filter=['wrong_password'])%}
    {% if invalid_entry %}
        <p class='inline error'>{{invalid_entry[0]}}</p>
    {% endif %}
    {% endwith %}
    <br>
    <input type='submit' value='login'>
</form>

<p>Don't have and account?<a href="/signup">Create one!</a></p>
{% endblock %}