{% extends 'base.html' %}

{% block signup %}
    <h1>Signup</h1>
    <form action="/signup" method='POST'>
        <label>Username</label>
        {% with html_username = get_flashed_messages(category_filter=['html_username']) %}
            <input type='text' name="typed_username" value={{html_username[0]}}>
        {% endwith %}
        {% with invalid_entry = get_flashed_messages(category_filter=['user_exists'])%}
            {% if invalid_entry %}
                <p class='inline error'>{{invalid_entry[0]}}</p>
            {% endif %}
        {% endwith %}
        {% with invalid_entry = get_flashed_messages(category_filter=['invalid_username'])%}
            {% if invalid_entry %}
                <p class='inline error'>{{invalid_entry[0]}}</p>
            {% endif %}
        {% endwith %}
        <br>

        <label>Password</label>
            <input type='password' name="pass1">
        {% with invalid_entry = get_flashed_messages(category_filter=['invalid_password'])%}
            {% if invalid_entry %}
                <p class='inline error'>{{invalid_entry[0]}}</p>
            {% endif %}
        {% endwith %}
         <br>

        <label>Verify Password</label>
            <input type='password' name="pass2">
        {% with different_passwords = get_flashed_messages(category_filter=['different_passwords'])%}
            {% if different_passwords %}
                <p class='inline error'>{{different_passwords[0]}}</p>
            {% endif %}
        {% endwith %}   
        <br>

            <input type='submit' value='Submit Query'>
    </form>
{% endblock %}